*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;

}
body{
   background-color: #081b29;
}
.header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px 10px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    position: relative;
    color: #ebebeb;
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
}
.navbar a{
    display: inline-block;
    color: #ebebeb;
    font-size: 25p;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 3s;
    
}
.navbar a:hover{
    color: #0ff;
}
.home {
    color: #ebebeb;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
    justify-content: space-around;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;

    
}
.home-content{
    max-width: 600px;
}
.home-content h3{ 
    font-size: 30px;
    font-weight: 700;
}
.home-content h1{
    font-size: 55px;
    font-weight: 700;
    margin: -3px 0;
}
.home-content p{
font-size: 28px;
}
.home-sci a{
    width: 40px;
    height: 40px;
    justify-content: center;
    display: inline-flex;
    background: transparent;
    border: 2px solid #0ff; 
    border-radius: 50%;
    font-size: 17px;
    align-items: center;
    color: #0ff;
    margin: 30px 15px 30px 0;
    text-decoration: none;     
}
.home-sci a:hover{
    background: #0ff;
    color: #000;
}
.buttons{
    display: flex;
    gap: 1rem;
    background: transparent;
}
.buttons a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    border: 2px solid #0ff;
     
    padding: 8px 1.8rem;
    outline: none; border: none;
    border-radius: 10px;

    transition: 3s ease-out;
    cursor: pointer;
}
.buttons a:hover{
    background: #0ff;
    color: black;
}
#photo{
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    display: flex;
    float: right;
    right: 8%;
    top: 30%;
    padding: 0;
}
#photo:hover {
    transition: 5s ease-out;
}
.more{
    color: #ebebeb;
    align-items: center;
    justify-content: space-between;
    position: relative;
    justify-content: bottom right;
    margin: right;
    border-spacing: 10px;

}
.more h2{
    font-weight: 600;

    
}
.pro{
    color: #ebebeb;
    display:inline-block;
    width: 200px;
    height: 200px;
    float: left;
    
}
.pro img{
    height: 300px;
    float: right;
}
button{
    margin: auto;
    border: 2px solid #0ff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
     
    padding: 8px 1.8rem;
    outline: none; border: none;
    border-radius: 10px;

    transition: 3s ease-out;
    cursor: pointer;
    float: bottom;
    position: absolute;
    di
    
}
button:hover{
    background: #0ff;
    color: black;

}